In [10]:
import pandas as pd

In [11]:
df = pd.read_excel('pl-sources-ike-ikze-knf/IKE_lista_podmioty_30062017_58489.xls')

In [12]:
df

,Lista instytucji finansowych prowadzących IKE według stanu na dzień 30 czerwca 2017 r.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,ZAKŁADY UBEZPIECZEŃ NA ŻYCIE:,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,1.,AVIVA TUnŻ S.A.,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
66,NaN,NaN,NaN,NaN,NaN,NaN
67,1.,MetLife PTE S.A.,NaN,NaN,NaN,NaN
68,2.,Nationale-Nederlanden PTE S.A.,NaN,NaN,NaN,NaN
69,3.,PKO BP BANKOWY PTE S.A.,NaN,NaN,NaN,NaN
70,4.,PTE Allianz Polska S.A.,NaN,NaN,NaN,NaN